*{
    box-sizing: border-box;
}

body{
    background-color: #EEF9BF;
}

.titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    color: #75B79E;
    display: flex;
    justify-content: center;
}

.areaJogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.carta{
    height: 146px;
    width: 117px;
    background-color: #A7E9AF;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    margin: 17px;
    transition: all .5s;
    transform-style: preserve-3d;
}

.face{
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-top: 24px;

}

.face img{
    height: 100%;
    width: 100%;
    transform: rotateY(180deg);
}

.esconder{
    display: none;
}

.borda{
    border: 2px solid green;
}

.virar{
    transform: rotateY(180deg);
}

.relogio{
    color: red;
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 0;
}

@media (max-width: 614px) {
    .areaJogo{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .titulo p{
        text-align: center;
    }
}